@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1171px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1171px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 1171px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding-top: 77px;
  padding-bottom: 92px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

/*Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  outline: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  padding-top: 19px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 17px;
  font-size: 13px;
  font-weight: 400;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

/*Стили для главного экрана*/
.hero {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 0;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 0px;
  padding-bottom: 94px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 39px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 69px;
  margin-left: 2px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 35px;
  height: 35px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
  max-width: auto;
}

.hero-list__text {
  display: flex;
  max-width: 301px;
  max-height: 40px;
  font-size: 14px;
  align-items: center;
}

.hero-image {
  flex-basis: 50%;
  align-items: center;
  max-width: auto;
  padding-left: 0px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
    align-items: center;
  }
  .hero-list {
    align-items: center;
    margin-bottom: 44px;
  }
  .hero-list__text {
    max-width: 210px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 13px;
    font-family: 'Museo Sans Light';
  }
  .hero-text__subtitle {
    font-size: 16px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

/*Стили для блока offer*/
* {
  box-sizing: border-box;
}

.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 21px;
  padding: none;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  font-size: 15px;
  margin-bottom: 30px;
  width: 240px;
  height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer__info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.offer__manager {
  width: 230px;
  line-height: 24px;
}

.offer__contacts {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

.offer__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

/*Стили модального окна*/
